.container-one
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 15px 5px 5px;
    
}
.item-first{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.item-first img{
    width: 100%;
    height: 100%;
    border-radius: 30px
}
.color-change{
    color: orange;
}
.container-one h2{
    font-size: 50px;
}
.container-one h3{
    font-size: 50px;
}


.container-two
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 5px 5px;
    
}
.container-two h2{
    font-size: 50px;
}
.container-two h3{
    font-size: 30px;
}
.container-two img{
    
    height: 590px;
    margin-left: -15px;
}

.container-three{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.single-box{
    box-shadow: 10px 10px 40px gray;
    height: 300px;
    padding: 30px;
}

.services{
    font-size: 45px;
    font-weight: 700;
    margin-left: 68px;
    margin-top: 50px;
}
.container-three h3{
    font-size: 40px;
}
#services-1
{
    font-size: 20px;
   
    
}
#services-2
{
    font-size: 20px;
    
}
#box-1{
    border-left: 6px solid ;
    border-image: linear-gradient(60deg,lightsalmon,tomato);
    border-image-slice: 1;

}
#box-2{
    border-left: 6px solid ;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    /* margin-right: 10px; */
}
.footer-design{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font:lighter;
}
